# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Entornos virtuales
.venv/
venv/
env/

# Base de datos local
*.db
*.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Entorno
.env
